version: "3.4"

networks:
  servicenet:
    driver: overlay
    ipam:
      config:
        -
          subnet: 10.0.9.0/24

configs:
  hydra_router_config:
    file: ./hydra-router-config.json
  hydrapy_sample_service_config:
    file: ../sample-service/config.json

services:
  redis:
    image: redis:6.0.6
    networks:
      - servicenet
    ports:
      - target: 6379
        published: 6379
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 1

  hydra-router:
    image: pnxtech/hydra-router:1.7.0
    networks:
      - servicenet
    depends_on:
      - redis
    configs:
      - source: hydra_router_config
        target: /usr/src/app/config/config.json
    ports:
      - target: 80
        published: 5353
        protocol: tcp
        mode: ingress
    deploy:
      replicas: 1

  vis:
    image: dockersamples/visualizer:latest
    networks:
      - servicenet
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: ingress
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      replicas: 1

  hydrapy-sample-service:
    image: hydrapy-sample-service:1.0.0
    networks:
      - servicenet
    depends_on:
      - redis
    configs:
      - source: hydrapy_sample_service_config
        target: /usr/src/app/config.json
    deploy:
      replicas: 1
